{% extends "base.html" %}

{% block content %}

    <h1>Build a Blog!</h1> 
    <p></p>
    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}
    
        {% for blog in blogs%}
            <h2><a href='/blog?blog-id={{blog.id}}'>{{blog.title}}</a></h2>
            
            <form action="/viewpost">
                <input type="hidden" name="blog-id" value="{{blog.id}}" />
            </form>
            
            <p>{{blog.body}}</p>
            <hr />
        {% endfor %}
    
    {% endif %}

{% endblock %}
